////////// COLOR SYSTEM //////////
$main-color: #153849;
$second-color: #008298;

////////// TEMPLATE VARIABLES //////////
$content-bg: #f2f8f9;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #f2f2f2;
////////// TEMPLATE VARIABLES //////////

/* Sidebar */
$sidebar-light-bg: #ffffff;
$sidebar-width-lg: 255px;
$navbar-height: 75px;
$sidebar-light-menu-active-bg: black;
$sidebar-menu-padding: 16px 25px;
$nav-link-height: 63px;
$sidebar-light-bg: #fff;
$sidebar-light-menu-color: blue;

////////// SIDEBAR ////////
$sidebar-width-lg: 255px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;
$sidebar-light-bg: #fff;
$sidebar-light-menu-color: #4a4a4a;
$sidebar-light-menu-active-bg: #fafbfc;

